<nav class="navbar navbar-light bg-light p-3 border">
<a id="nav-text" href="/lists"><h3>Watch List</h3></a>
<div>
  <a href ="/lists"class="btn btn-dark" style="color:white">My lists</a>
  <a href ="/lists/new"class="btn btn-outline-dark">New list</a>
</div>
</nav>
